[2018-03-13 04:35] lihshyang opened #14 "not building"
somehow `make` gives me this error:
...
...
make[3]: Entering directory `/home/aolx/devel/gg/src/util'
  CXX      digest.o
  CXX      util.o
  CXX      path.o
  CXX      pipe.o
  CXX      poller.o
  CXX      signalfd.o
digest.cc: In function ‘std::string digest::sha256(const string&, bool)’:
digest.cc:26:39: error: expected type-specifier before ‘Base64URLEncoder’

[2018-03-13 04:45] sadjad commented on #14
You need `libcrypto++-dev` >= 4.5.3 to build gg. It's included in Ubuntu Zesty or newer, but for the others I think you need to build and install it from the source.

[2018-03-13 04:45] #14 closed

[2018-05-03 23:09] canselcik opened #17 "Build Failure"
Hi,

Build fails with the following:

[code]

Let me know if you need more information.

Thanks.

[2018-05-04 15:53] sadjad commented on #17
Hi,

Currently, you need gcc 7 to build `gg`. It seems that you don't have gcc-7 installed on your system.

Cheers,
Sadjad

[2018-05-05 06:03] #17 closed

[2019-07-14 15:58] dmfenton opened #18 "License?"
I read that the program is open source, but I don't see a license file. How is the code licensed? Would you please add a license to the repository?

source: https://www-cs.stanford.edu/~matei/papers/2019/usenix_atc_gg.pdf

[2019-07-18 09:15] ludovicc opened #20 "Demo troubles"
Hello,

I've been trying gg, and found those issues:

1) What are the access control settings that should be used for the S3 bucket? I've been using at first 'Block public access', but got a forbidden on upload_files() operation. Then I made the bucket fully writable for the world (bad bad practice), and I could get around this issue.

[code]

2) Compilation of mosh using gg failed with the follow

[2019-07-18 19:01] sadjad commented on #20
Hi Ludovic,

1. It's not necessary to make the bucket fully writable -- just make sure that the IAM user (the one associated with your `AWS_ACCESS_KEY_ID`), has _AmazonS3FullAccess_ permission.

2. Could you please run `gg describe TZJokLWuLw23YLba.mIh.m26Qoc.AU8BG0qEvx2DyFAk00000903` and post the output here, so I can take a look at the thunk that fails?

Thank you,
Sadjad

[2019-07-19 14:35] ludovicc commented on #20
gg describe TZJokLWuLw23YLba.mIh.m26Qoc.AU8BG0qEvx2DyFAk00000903
[code]

[2019-08-09 13:32] siedentop commented on #20
Hi @sadjad ,

same issue here: The user as well as the GG_LAMBDA_ROLE have "AmazonS3FullAccess". Only if I make the bucket public, will the demo (building mosh) work. Otherwise, I get a 403 error as reported above.

Setup: Ubuntu 18.04 instance created on AWS, zone us-west-1.

Many thanks for this awesome project!

[2019-08-09 14:08] siedentop opened #22 "wrappers/ld fails on `-plugin`"
It looks like the `-plugin` switch is not understood by `wrappers/ld` and hence crashes gg.

I was trying to build LLVM with gg.

From opening the core dump with gdb:
`Core was generated by `model-ld -plugin /usr/lib/gcc/x86_64-linux-gnu/7/liblto_plugin.so -plugin-opt=/'.
`

Question 1: How do I enable debug symbols for gg, such that the core dump is actually helpful?

Here is what `man ld` has to

[2019-08-09 15:09] siedentop commented on #22
Notes & Updates:
* After patching `src/models/ld.cc` it will also complain about `-plugin-opt`, `--sysroot`, `--eh-frame-hdr`. Patching all these lead to `stat()` errors.
* Calling already `cmake` as `gg infer cmake ...` seems to help.
* Not using Ninja (but instead make) seems to help, too. (Probably more so)

This still leaves this:
[code]

[2019-08-11 22:05] siedentop commented on #20
@ludovicc , I can restrict it a little bit. If I only disable "Block public access to buckets and objects granted through new access control lists (ACLs)", then it works fine.

This did not help, but provides more details: https://aws.amazon.com/premiumsupport/knowledge-center/lambda-execution-role-s3-bucket/

[2019-08-12 15:12] ssnickolay commented on #22
@siedentop have you try to build `llvm` without any flags?
[code]

Btw, I'm not sure that `gg` will be ok with `llvm` due to cmake. But currently, the build process is reaching > 23% completion and still working (it is running on my laptop, so it's not so fast).

[2019-08-13 01:32] siedentop commented on #22
Thanks, @ssnickolay  for taking a look.

I had tried `gg init; gg infer cmake ... ; gg infer make ...` before, but now tried your variant. I only get to 8%.

It compiles fine past the 8% building locally, so it's not a dependency which is missing.

---
[code]

The build step fails with the following.

[code]

[2019-08-13 02:07] sadjad commented on #22
Hi @siedentop and @ssnickolay,

Thank you for opening this issue, and of course trying out `gg`!

One important concept in using `gg` for compilation is the separation between generating the dependency graph for the build (the part done with `gg infer`) and doing the actual work (the part done with `gg force`). LLVM build system is a bit complicated for `gg` for two reasons:

1. LLVM uses CMake, w

[2019-08-13 10:52] ssnickolay commented on #22
@sadjad  first of all, thanks for the great work and excellent explanation of our mistakes.

I have tried your instruction and everything works fine except one little thing: you should pass gg's `g++\gcc` to `cmake` command because `CXX="g++" CC="gcc" ` just takes your original `g++\gcc` (and builds target bin without `gg`), so:

[code]

As far as I understand, passing `CXX\CC` to `CMake` should b

[2019-08-15 20:02] sadjad commented on #22
@ssnickolay, I just created and pushed a small [wrapper](https://github.com/StanfordSNR/gg/blob/master/src/models/wrappers/cmake) for CMake. Now, the user can just run `gg infer cmake ../src/`, and it will be handled properly.

It would still be very nice if we could have an example of using CMake in the `README` :)

[2019-08-16 09:40] ssnickolay commented on #22
Ah, it is so simple, I love it!

Actually, I thought about something more reproducible. What do you think if I cover current examples via `Docker`? People who have not (or don't like) `Docker` could still run examples on local machines. But other users (who have not `Ubuntu`, like me) could run examples via `Docker`.
I thought about it because I spent a couple of hours to run the `excamera` exampl

[2019-08-17 21:31] siedentop commented on #22
Small update: Here is a screen cast:
https://asciinema.org/a/262982 for LLVM.

@ssnickolay , I'd like to know how you got the `excamera` example to run?

[2019-08-18 14:10] ssnickolay commented on #22
@siedentop I'll write instructions in the coming days and mention you ;)

[2019-08-26 23:01] wsmoses opened #24 "Files not uploaded to S3?"
I'm trying to build mosh as in the example and came across a weird error:

code:
[code]

[code]

[code]

[code]
[code]

[2019-08-28 04:41] wsmoses opened #25 "No space left on device error"
occurs when running

[code]

[code]

[code]

[code]

[2019-08-29 18:16] ssnickolay commented on #25
The cause of the problem is described [here](https://stackoverflow.com/a/48347749).

I see that lambda function has garbage collection in [the beginning of the handler](https://github.com/StanfordSNR/gg/blob/master/src/remote/lambda_function/main.py#L35) but sometime it is not enough. I saw this error once when all executions of my function failed (there was an error on my side). A simple solution

[2019-08-29 19:30] wsmoses commented on #25
Yeah, I noticed this went away after a while. I don't suppose there is a way we could get gg to flush/remove the context if it picks up this error?

[2019-08-29 19:37] wsmoses opened #26 "gg-force: no execution engine could execute"
I'm building a (custom) LLVM from source and I'm getting that no execution engine could execute when building opt (after successfully building llvm-tblgen). My guess is that it has something to do with the amount of memory used for linking/etc as it is only the last step and I have debug symbols enabled. Perhaps in this case it could use the system itself as a fallback.

[code]

[code]

[2019-08-30 13:28] ssnickolay commented on #25
[AWS Lambda Execution Context](https://docs.aws.amazon.com/lambda/latest/dg/running-lambda-code.html) is something that lives inside AWS and does not have any external control capabilities. Moreover, a full description of the Execution Contex lifecycle is also unclear. We only know that it exists and is something like a cache, to support the "warmed up" lambda functions.
It may help to transfer th

[2019-08-30 20:39] sadjad commented on #26
Hi @wsmoses,

The Lambdas are limited to 500 MB of disk space, and this thunk doesn't fit on a Lambda. To run this job to completion, you have two options:

1) You can set up an EC2 instance as the *overflow* machine. The jobs that don't fit on Lambda can be sent to that machine for execution. As there are usually no more than a few thunks that don't fit on Lambda in each job (final stages of the

[2019-08-30 21:24] sadjad commented on #25
You're totally right, but now I see that it is not enough. We put all the objects in `/tmp/_gg` directory and one solution would be getting rid of that altogether (we only write to this directory and `/tmp/thunk-execute.*`), but it's not the best decision, because it's possible that some of those blobs can be reused for the current thunk, and we would have to re-download them again.

I just pushed

[2019-08-30 21:25] #26 closed

[2019-08-30 21:26] #25 closed

[2019-08-30 21:30] sadjad commented on #24
Thanks for bringing this to our attention. I totally agree, we need to do something about this. A good start would be a utility that synchronizes the contents of the S3 bucket with the index in `.cache/gg`, and can be invoked manually. I'll put this on our TODO list.

[2019-08-31 03:27] wsmoses opened #27 "rmdir of non-empty directory"
I think probably related to previous issues, but when gg tries to remove the temporary directory created (presumably in https://github.com/StanfordSNR/gg/blob/cbb81f98325957f1d9d873fae296d371e950ca97/src/util/temp_dir.cc#L30) there's still temporaries left in the directory in an error condition.

<img width="701" alt="Screen Shot 2019-08-30 at 11 24 08 PM" src="https://user-images.githubuserconten

[2019-09-01 23:05] 5mqQpXkBJjQBFbJQHfebGwDWFPHBgpVK7XcQ opened #28 "Support for Azure (Functions/Storage)"
[Azure Functions](https://azure.microsoft.com/en-us/services/functions/) should be suitable as execution back-end similar to AWS Lambda.
In addition, [Azure Blob Storage](https://docs.microsoft.com/en-us/azure/storage/common/storage-introduction#blob-storage) should be a suitable extension to the existing storage engines.

[2019-09-02 12:00] elfring opened #29 "Complete build options for Pthread API"
Would you like to add the configuration script “[AX_PTHREAD](https://www.gnu.org/software/autoconf-archive/ax_pthread.html "How to build C programs using POSIX threads")” to [your build specification](https://github.com/StanfordSNR/gg/blob/ebd6dba76f80104b48f7ab8c5c5aecf2ca209cdc/configure.ac#L17 "Update candidate")?

[2019-09-02 12:18] elfring opened #30 "Cooperation with job submission systems"
There are some task execution environments available to which data processing can be delegated.
How do you think about to extend your tool so that more processors and also remote computing resources can be reused?
Would you like to improve [job submission possibilities](https://en.wikipedia.org/wiki/Job_Submission_Description_Language)?

[2019-09-02 14:27] elfring opened #31 "Intermediate representation variant"
`gg`’s intermediate representation is provided as [a JSON file with a specific structure](https://www.usenix.org/system/files/atc19-fouladi.pdf "Paper “From Laptop to Lambda: Outsourcing Everyday Jobs to Thousands of Transient Functional Containers”") so far.
This file format contains the elements “args”, “objects” and “outputs”. It seems that a mapping is performed between file names and content

[2019-09-07 16:50] photoszzt opened #32 "missing fsync in atomic create"
I think this code is not atomic.
https://github.com/StanfordSNR/gg/blob/febdf22643655bf9a89f7ddc8b5849dc7e8f4d9e/src/util/path.cc#L188-L209
Two fsync is missing. You need to fsync the temp file and fsync the containing directory after the rename. See: https://lwn.net/Articles/457667/

[2019-09-09 21:03] photoszzt opened #33 "running fibonacci example"
Do I need to run upload.sh manually? I find that if I don't run that script, the code would prompt me saying V5tpA.GDOUdjLVlBznCj61Fi8HvqGhIcV67Ni3YvOkEE001bc520 (the hash of the add binary) is missing.

[2019-09-09 21:12] photoszzt commented on #33
I'm not running on aws lambda. I'm porting the backend to openfaas. But the code is similar to what gcloud has.

[2019-09-09 21:25] photoszzt opened #34 "flag test should be &?"
https://github.com/StanfordSNR/gg/blob/febdf22643655bf9a89f7ddc8b5849dc7e8f4d9e/src/net/address.cc#L73
With |, it won't be 0. Should it be &?

[2019-09-16 17:12] sadjad commented on #22
#23

[2019-09-16 17:12] #22 closed

[2019-09-16 17:16] sadjad commented on #34
Nice catch! I just fixed it in af07aa5943abf8a5ce3b4b0e0597969016f1e9f3.

[2019-09-16 17:16] #34 closed

[2019-09-16 17:31] sadjad commented on #33
It's necessary for a subtle reason: normally, `gg` would automatically scan all the thunks at the start of the job, and will upload all of the necessary files in one shot to the storage backend. But, in the Fibonacci example, none of the initial thunks have the `add` binary -- it's gonna be in the thunks that are generated later.

However, I just made a small change to include `add` in the initial

[2019-09-16 17:31] #33 closed

[2019-09-20 18:46] kelleyma49 opened #35 "S3 PUTs will fail if the x-amz-acl header is set to "public-read""
Thank you for creating this intriguing and promising piece of software!

This issue might be similar to #20.

I get a 403 error in `S3Client::upload_files()` unless I remove the "x-amz-acl" header. I'm not an expert in S3 bucket permissions, but it looks to me as though gg requires public access to all S3 uploads? Maybe this should be configurable?

Here's the line in question:
https://github.com/

[2019-09-20 20:35] sadjad commented on #35
Hi @kelleyma49,

Thank you for bringing this into our attention! Actually, `gg` doesn't require public access for S3 objects, and that line is not necessary at all. I just pushed this change to `master`.

Please let me know if you encounter any other issues.

Best,
Sadjad

[2019-09-20 20:35] #35 closed

[2019-10-21 19:05] JustinAzoff commented on #32
I don't thing consistency in the face of a kernel panic or power failure is a requirement based on how  that code is used.  Adding 2 fsyncs to every file creation would just slow builds down.

[2019-10-21 19:17] photoszzt commented on #32
@JustinAzoff The problem is if I don't put these two fsyncs, the program fails. It complaints that the file is missing when the file is created but the directory is not fsync.

[2019-12-02 22:10] sadjad opened #37 "If the file is already there, Alex gets mad."
https://github.com/StanfordSNR/gg/blob/6f57eb1a3512a8f3aef796dcdddf37651602f234/src/frontend/gg-execute.cc#L201

[2019-12-11 20:29] anirudhSK opened #39 "Build failure on Mac"
When I try running docker-compose build, I get the following error at the end:

Traceback (most recent call last):
  File "docker-compose", line 6, in <module>
  File "compose/cli/main.py", line 71, in main
  File "compose/cli/main.py", line 127, in perform_command
  File "compose/cli/main.py", line 287, in build
  File "compose/project.py", line 384, in build
  File "compose/project.py", line 366

[2019-12-11 20:56] sadjad commented on #39
Hi @anirudhSK -- great to see you here!

I think this is a problem with `docker-compose`, since `gg` doesn't do anything related to your AWS or Google Cloud account in the build process.

From the looks of it, for some reason, `docker-compose` seems to be trying to get the base images from an image repository in Google Cloud, and it tries to use the credentials stored on your system. Could you ple

[2019-12-11 21:06] anirudhSK commented on #39
Here's the output from docker-compose config with some of the sensitive fields obfuscated.

networks:
  default: {}
services:
  gg:
    build:
      args:
        UBUNTU_VERSION: '18.04'
      context: /Users/anirudh/gg
      dockerfile: ./docker/Dockerfile
      target: sandbox-env
    environment:
      AWS_ACCESS_KEY_ID: ******************
      AWS_REGION: us-west-1
      AWS_SECRET_ACCESS_KEY

[2019-12-11 22:48] sadjad commented on #39
I just double-checked and made sure that `gg` doesn't do anything with Google Cloud (or AWS) in the `build` step.

I think, for some reason, your `docker-compose` tries to download the base container images from Google Container Registry (gcr.io), and that's why you see that error. I guess you should look at your `$HOME/.docker/config.json` file, and see if you can see any mentions of `gcr.io` in

[2019-12-12 00:13] anirudhSK commented on #39
Thanks! Deleting $HOME/.docker/config.json seems to fix this issue for now. Will let you know if I run into any more trouble.

[2019-12-12 00:13] #39 closed

[2019-12-12 00:14] sadjad commented on #39
Awesome! Let me know if I can be of any help.

[2020-01-09 18:29] ACAVJW4H opened #40 "OpenWhisk support"
I see that it's been a while since the latest commit on openwhisk support. Is it out of the scope currently? Or could we expect further work on the subject? Thank you guys for this excellent tool by the way!

[2020-01-13 17:24] shahzadlone commented on #18
@sadjad Is it possible to provide the license file for this repository?

[2020-01-30 20:39] artemdinaburg commented on #27
I was about to file this same issue; I ran into this when failing to build LLVM's `opt`, which sounds exactly like what the original submitter was trying to do :).

[2020-04-07 20:40] alex-ozdemir opened #42 "New uploads required by intermediate thunks"
Right now, if `TA` reduces to `TB`, which depends on a value not depended on by `TA`, you get a crash, because we only upload dependencies initially.

This is a note to myself to fix that some time.

[2020-06-26 03:32] drunksaint commented on #20
You don't need to make the bucket public. The IAM policy that I assigned to the role used by gg if it helps:
[code]

[2020-06-26 03:37] drunksaint commented on #20
I believe you're getting the 403 because you have to give the List Action permission on the bucket itself, not just bucket/*.

[2020-07-21 19:16] drunksaint opened #43 "How to add model generation for a custom binary"
I have a custom binary that counts the number of lines from an input file and writes it to an output file:
[code]

Running `gg infer /path/to/file/fileiotest.o input.txt output.txt` seems to directly run the command instead of generating the thunks for fileiotest. I tried adding a file `src/models/wrappers/fileiotest.o` with the following text:
[code]
but this too doesn't seem to generate the requ

[2020-07-21 19:45] #43 closed

[2020-07-22 03:12] sadjad commented on #43
Hi @drunksaint,

Glad you fixed the problem! Running `./output.txt` will first force the thunk and then will try to execute the output, hence the `execv: Exec format error`.

Thank you for trying out `gg`, and please let us know if you face any other issues!

Best,
Sadjad

[2020-07-22 04:22] drunksaint commented on #43
Hi @sadjad

Yeah, i figured that force and run are independent of each other. Thanks for your amazing work with this library!

[2020-07-27 18:59] saurabhbp opened #44 "."

[2020-07-27 19:02] drunksaint opened #45 "How to execute single file packaged python binaries"
I have a custom python file [argtest.py.txt](https://github.com/StanfordSNR/gg/files/4983888/argtest.py.txt) that counts the number of lines from an input file and writes it to an output file:
[code]
I am trying to run this using gg. I tried packaging it to a single binary using [pyinstaller](https://pyinstaller.readthedocs.io/en/stable/usage.html) (`pip install pyinstaller`)
[code]
This creates a

[2020-07-27 19:03] #44 closed

[2020-07-27 19:58] sadjad commented on #45
Hi @drunksaint,

Let me try this out first, and will get back to you in a couple hours.

Best,
Sadjad

[2020-07-27 22:43] drunksaint commented on #45
@sadjad let me know if i can help with anything

[2020-07-28 02:23] sadjad commented on #45
Okay, I managed to reproduce the error with a simple script, and I'm getting the exact same message.

#### The problem

The PyInstaller bootstrapping function, tries to open and read the binary itself. From the looks of it, it takes `argv[0]` as the path for the binary, but that's non-existent (the actual binary is located in `.gg/blobs/BINARY_HASH`).

That's the error message you're getting: `/tm

[2020-07-28 20:17] drunksaint commented on #45
Thanks for your help looking at this @sadjad. Both solution 1 and 3 worked for positional arguments! Solution 2 may not be required yet. I'll go down this road if I need to later. I had tried cython earlier but this was causing problems compiling larger libraries. That's why I started looking at pyinstaller. Nuitka seems to work great for larger libraries as well though. Thanks for this suggestion

[2020-07-28 20:34] sadjad commented on #45
Hello there,

Glad it worked!

I think the only thing that it's missing is the `--arg` option. You need to tell `model-generic` about the non-file options as well, so it can parse the whole command correctly. For example, in this case, you need to add `--arg=@` to the description.

Yes, it does, but you need to tell it explicitly where the `create-thunk` options ends and your arguments begin; by p

[2020-07-28 21:24] drunksaint commented on #45
I tried adding `--arg=@`. But the gg model creation gives an error.
My wrapper file:
[code]
The error I get:
[code]

[2020-07-28 21:56] sadjad commented on #45
The issue was that we didn't have support for non-file *positional* arguments (the first `@` in your arguments). I just pushed a commit that should fix that problem.

That would be amazing. Thank you!

[2020-07-28 22:23] drunksaint commented on #45
Nice! now the thunk creation goes through. But `gg force` fails:
[code]
the [python file](https://github.com/StanfordSNR/gg/files/4991448/argtest.py.txt) if it helps. I created the binary using
[code]

[2020-07-28 23:40] sadjad commented on #45
Could you please run `gg describe TsCTUcZt2lNy.X4aqO5fZapqL5rQt219d.TVJVfDlcaA0000016d` and post the output here?

[2020-07-28 23:52] drunksaint commented on #45
[code]

[2020-07-29 03:32] sadjad commented on #45
It looks like there's a bug in `model-generic`. Look at the `function.args` above; it totally omitted `--inputfile` and also didn't convert `i.txt` to `@{GGHASH:}`. I'm gonna take a look at it and fix the issue.

[2020-07-29 17:17] sadjad commented on #45
I just pushed a commit that hopefully fixes the issue!

When I was looking at `model-generic` implementation, I remembered how narrow the implementation was. It should be fine for now, but, for example, if instead of `--inputfile A` you pass `--inputfile=A`, it would not work. I'm motivated to redo the implementation to include support for all POSIX-style options, but that'll take some time :)

Pl

[2020-07-29 18:49] drunksaint commented on #45
@sadjad that would really help using gg with custom commands! :).

Your changes + replacing `--inputfile=A` with `--inputfile A` works perfectly!! Thanks for the fixes!

I tried 2 other things:
- boolean flags don't seem to work right now (`command --flag`). I can see the problem [here](https://github.com/StanfordSNR/gg/blob/master/src/models/cli_description.cc#L32). Maybe something needs to be ad

[2020-07-29 19:27] sadjad commented on #45
Awesome!

You don't need to include boolean flags in the description---only options with a required argument are necessary.

The redirection operator is handled by the shell itself and is never passed to the program. So, in case of `helloworld > o.txt`, shell runs `helloworld` and writes its `stdout` to `o.txt`. The contract in a `gg` thunk is that it writes its output to a file, and then that fil

[2020-07-29 22:05] drunksaint commented on #45
Nice, this works! I've added this with our whole discussion to the documentation [in this pull request](https://github.com/StanfordSNR/gg/pull/46)

Sounds good. I'll try this.

This is neat! much better than having to write wrapper commands for all scripts. I tried running it but wasn't sure how to add iowrap as a thunk. I added the files from `ggsh/models` to `gg/src/models/wrappers` and kept `gg

[2020-07-29 23:35] sadjad commented on #45
Thank you for the pull request! I just had a peek and it looks great. Will merge it as soon as possible.

You're almost there! You need to `collect` the `iowrap` file. From the directory of your program, run `gg collect /path/to/iowrap` to make a copy in `.gg/blobs` directory. Also you may need to collect your input file (`i.txt`) manually as well (these should be easy to fix).

The nice part is t

[2020-07-30 00:56] drunksaint commented on #45
Nice, it works with this fix! Piping works too! Thanks!

I'm now trying to parallelize a simple script. To do this, I'm splitting a file into small pieces and trying to create an output for each piece in an output directory. Outputs to the current directory work fine, but outputs to a subdirectory give an error:
[code]
Seems like the issue is that the directory `outputdir` doesn't exist in the exe

[2020-07-30 02:36] sadjad commented on #45
You're right about this. Currently the system doesn't create the output directory automatically. Although, I think you can try creating the `o/` directory in your script, and then put the output file there.

[2020-07-30 02:42] sadjad commented on #45
This should be possible, because at the time of thunk generation, I think we know how many files we have. But I'm not sure if current implementation of iowrap has support for multiple inputs.

[2020-07-30 19:07] #45 closed

[2020-07-31 00:08] drunksaint opened #47 "gg force --engine lambda failing after emptying bucket"
Something seems to have broken after I emptied the s3 bucket that was being used by gg. I deleted the .gg directory and re-initialized gg. Still it seems to be wanting to download some old thunks. Running `gg force --engine lambda` isn't adding any thunks to the bucket now. Is there any other cache that I should empty? How do I go about debugging this?
[code]

[2020-07-31 00:13] sadjad commented on #47
Removing `~/.cache/gg/remotes` and all its content should fix the issue. `gg` will reupload the missing files.

If you look at the error message, it says that the blobs `VziaXgzsiNzeCIBBjDSZ9oHqywVIPYTBP5.ksiphPP_000000016` and `VYjZ0uPlVFYiusJnE5Saokwsp6k8EuQm_uY8jr3G3hiQ00002160` are missing from the bucket. In fact, `gg` didn't try to upload those file because it has done that before (according

[2020-07-31 00:30] drunksaint commented on #47
that fixed the issue! Now I'm able to see the thunks in the bucket. thanks!

I'm running another script and this time it is giving me a different error:
[code]
Can I see the execution logs somewhere? Or is there some other way to debug this?

[2020-07-31 00:41] sadjad commented on #47
This is probably because the total size of the input files to that thunk exceeds 230 MiB. That's [a hard-coded limit in the lambda engine](https://github.com/StanfordSNR/gg/blob/master/src/execution/engine_lambda.cc#L129), since Lambdas come with 500 MiB of disk space (`gg` reserve the rest of the space for the output).

You have a couple options: either change your thunk to use smaller files as i

[2020-07-31 00:46] sadjad commented on #47
In a process, it's possible that *some* thunks exceed the limitations of the engine. In that case you can run `gg force` like this:

[code]

If none of the engines listed by `--engine` can run the thunk, it will be run locally (of course, it will need to copy all of the dependencies to the local machine). Of course, in your case here, I think you have a single thunk that you wanna run, so, this ma

[2020-07-31 01:15] drunksaint commented on #47
Oh, my script + files were 266MB XD. Changing the limit fixed the issue :). The fallback option will be quite useful later i think!

Looks like the lambda workers don't seem to have libpython3.7m.so.1.0 for nuitka to work with:
[code]
Will see if they have some something else I can use. I'll take a look at this tomorrow.

[2020-07-31 01:16] #47 closed

[2020-07-31 01:21] drunksaint commented on #47
@sadjad can gg be told to upload the libpython.so file as well?

[2020-07-31 01:25] sadjad commented on #47
Oh, that's the issue with Nuitka: it relies on the availability of Python libraries on the host. Let me check something first.

[2020-07-31 01:31] sadjad commented on #47
I think for now the quickest solution might be going back to PyInstaller. There's a way to have `gg` to include the required libraries, such as `libpython.so`, but it's a little painful. Meanwhile, I'm gonna try to figure out if there's way to use Nuitka with Lambda.

[2020-07-31 01:45] drunksaint commented on #47
Cool, I'll try the pyinstaller route tomorrow. Thanks for looking at Nuitka!

[2020-07-31 22:14] drunksaint opened #48 "Issue with running python binaries built with pyinstaller and nuitka on lambda"
Looks like binaries built with pyinstaller also have an issue running on lambda because of missing libs.
The error I'm getting:
[code]
My wrapper file:
[code]
I built the pyinstaller binary with `pyinstaller --onefile pifiletest.py --distpath .`

[2020-07-31 22:15] drunksaint commented on #47
Looks like running a pyinstaller binary on lambda also has a similar problem:
[code]
I'm starting a new thread [#48] for this since this thread refers to the solved empty bucket issue.

[2020-07-31 22:39] sadjad commented on #48
Hi @drunksaint,

The problem is that there's a mismatch between the `glibc` version on your computer and on Lambda.

This is slightly different from the issue we were having with Nuitka. Although PyInstaller has packed all the necessary libraries into the executable, it still relies on the host's `glibc`. The package was created on a system with `glibc` v2.25, but Lambda comes with v2.17.

The eas

[2020-08-01 00:11] drunksaint commented on #48
Ah I see, building it on ec2 with the aws linux 1 ami fixed the pyinstaller issue!

[2020-08-03 23:44] drunksaint opened #49 "Issues with parallelizing thousands of tasks"
Hi! I am trying to run a script that can be parallelized trivially - basically each line of the input is independent from one another. I have a 15k line input file that takes around 10 minutes to process on a single core. A single line takes ~1.4s to run. I split the input file into 15k files containing single lines, generated the makefile and passed it to lambda through gg with -j=2000. I encount

[2020-08-04 16:23] sadjad commented on #49
Hi @drunksaint,

When you run `gg force` it tells you how much time it spent on uploading and downloading. And I agree with you, downloading 200 MBs from S3 should be fast. I wonder if the issue is the stragglers; some workers that just take too long to finish their task and just drag out the runtime. Could you please run it again and tell me the total time vs upload/download time?

Good question!

[2020-08-04 23:35] sadjad commented on #49
Another point I missed: make sure your AWS account actually has the capacity to run 2,000 parallel Lambdas.

The red number in the status bar shows the number of running Lambdas:

![gg status bar](https://user-images.githubusercontent.com/62783/89355435-3a3d5280-d670-11ea-8e36-dfe4d75ac686.png)

[2020-08-05 00:47] drunksaint commented on #49
Hey @sadjad, thanks for the super detailed response!

For the thunk creation step, I'll try out one of the steps you mentioned - will probably go with the c++ api since you recommended it. Is either step faster than the other?

For the execution step, earlier when I mentioned the 3 minute time, I had timed it manually from the time the upload from my local machine completed, to the time the downlo

[2020-08-05 02:04] sadjad commented on #49
Could you please measure the time necessary for forcing just *one* thunk on lambda? You can run `gg force` with `--no-download` to skip downloading and just time the whole command forcing one thunk (given that the files are already uploaded).

My hunch is that the overhead of each task (launching a Lambda + downloading the inputs + uploading the output + winding down) compared to the actual job is

[2020-08-05 18:54] drunksaint commented on #49
Forcing a single thunk without download took ~6s which seems about right.
[code]
Running it a second time with a different input takes less time (~3s) because it perhaps uses the same instance with the cached binary and big input files:
[code]

I reran the experiment by splitting the input into 8 line input pieces (<2k files) so that each worker can run just once. This had much better results. Usi

[2020-08-05 20:41] drunksaint commented on #49
I just ran the test on ec2. Good news! you were right! it took less time despite getting a ton of `rate limited` warnings.
[code]
Looks like the lambda execution took around 18s (25s total - 6s upload - 1s download). This is despite the ~8000 `rate limited` warning messages in the output. It also had 6 of the `ChildProcess` errors. And looks like only 2 jobs failed the first time, so it was more r

[2020-08-05 21:00] drunksaint commented on #49
also, is it possible to get `gg force` to skip the error cases after timeout without retrying?

[2020-08-06 01:55] drunksaint commented on #49
I looked at gg repl and seemed quite easy to use. So I thought I'll try this out and see if the performance is good enough for this use case.
I'm trying to create and execute a thunk for `filetest input.txt output.txt`. There are 2 issues I had while trying a few things out after looking at the file you linked.
- the description of the same thunk using `gg infer` has a `@{GGHASH:...}` argument, bu

[2020-08-06 19:20] drunksaint commented on #49
From AWS Lambda console:
![Screenshot from 2020-08-06 14-49-48](https://user-images.githubusercontent.com/1833544/89570379-1f93e680-d7f4-11ea-9f36-164c70bfce68.png)
Looks like my account was allowed just 1k lambdas eventhough the number in red from the `gg force` output was 2k. I've reach out to them to get this increased.

[2020-08-07 16:01] sadjad commented on #49
Hi @drunksaint -- apologies for my delayed response.

[2020-08-07 16:20] sadjad commented on #49
Hi @drunksaint -- apologies for my delayed response.

The `ChildProcess` error is something that I'm wondering about, too, and I guess it has something to do with a race condition in kernel. We use this class to fork the process and execute the thunk, and there's a [check](https://github.com/StanfordSNR/gg/blob/master/src/util/child_process.cc#L29) that makes sure the parent process is not a multi

[2020-08-10 19:31] drunksaint commented on #49
Hey @sadjad! Thanks for your response!

I saw 404s initially, but the execution went through eventually. So I'm guessing this might be due to some sort of race condition.

I got `gg repl` to work on my local machine after the changes you suggested! And it's _much_ faster! But I've encountered a new issue. The uploading step from ec2 to lambda is getting killed for some reason. The exact same thing

[2020-08-10 19:54] sadjad commented on #49
Hi @drunksaint,

My best guess is that the EC2 machine runs out of memory, and then the process is killed. Could you please check if that is the case?

--Sadjad

[2020-08-10 20:06] drunksaint commented on #49
Yup, you're right! I'll move to a fatter instance. I was surprised because the machine has more than 750MB free for ~200MB files.

[2020-08-10 23:26] drunksaint commented on #49
Got it working end to end on ec2! The whole thing (16k lines in 2k tasks - 8 lines per task) now takes around 23s for the full upload+execution+download cycle, of which upload+download is around 5s. So execution is around 18s (with a timeout of 5s and 2k lambdas).

A single task when run independently takes around 2.5s to run from ec2 though. I must've run close to 20 tests now. It always takes ar

[2020-08-11 00:26] sadjad commented on #49
That's still seems too much... I wonder if we're hitting some limits within S3. Would you be willing to get me some timing logs from an actual run? Here are the steps:

1. Set the `GG_TIMELOG=1` environment variable, before running `gg force`
2. After the job is done, run `aws s3 cp --recursive s3://[YOUR_BUCKET]/timelog $1/`  to download all the timing logs.

If the job failed for any reason, ple

[2020-08-11 18:48] drunksaint commented on #49
seems like it's the download from s3 that's causing problems. execution times seem very consistent.
![image](https://user-images.githubusercontent.com/1833544/89935921-f8b52600-dbe0-11ea-8689-be1422e1bfff.png)
Top few values from get_dependencies:
![image](https://user-images.githubusercontent.com/1833544/89936272-62cdcb00-dbe1-11ea-9165-3d9b15ba80af.png)

![image](https://user-images.githubuserco

[2020-08-12 00:48] sadjad commented on #49
Hi @drunksaint,

Thank you for getting the data!

So, `get_dependencies` doesn't look *too* bad, but `do_cleanup` seems to be much worse (worst case is about 25s, which is unreasonable). Let's fix this one first, and then will figure something out about S3. For starters, can you please comment out [this line](https://github.com/StanfordSNR/gg/blob/master/src/frontend/gg-execute.cc#L338) and see if

[2020-08-12 22:44] drunksaint commented on #49
Hi @sadjad!

I thought the do_cleanup numbers were in ms XD.

After removing the cleanup stage, run times varied quite a bit - from a second or two less to almost 10s less! i see many times the run fails due to disk space issues, perhaps because of the lack of cleanup. I'm seeing the 'slow down' error code more often now. the charts look different from run to run, so i've attached stats from multi

[2020-08-13 15:16] drunksaint commented on #49
Some of the do_cleanup histograms from the above successful runs:
![Histogram of do_cleanup](https://user-images.githubusercontent.com/1833544/90152482-da246b80-dd55-11ea-99a7-cabe746e845a.png)
![Histogram of do_cleanup](https://user-images.githubusercontent.com/1833544/90152499-de508900-dd55-11ea-9c24-98567fbf2269.png)
![Histogram of do_cleanup](https://user-images.githubusercontent.com/1833544/9

[2020-08-13 15:39] sadjad commented on #49
Hello @drunksaint,

Oops. You are right, you're right. All numbers are in milliseconds, so `do_cleanup` is not the culprit. My apologies for sending you down the rabbit hole.

Let's look at one of those >20s runs:

![graph](https://user-images.githubusercontent.com/62783/90151720-e13e8000-dd3b-11ea-9920-dabebd361938.png)

A few points:

- There are some spikes -- generally workers that take a long

[2020-08-13 16:11] saurabhbp commented on #49
Hi @sadjad

I'm glad XD. I had started adding code to measure the backend creation time XD.

Wow, our execution profiles look quite different. The charts are super neat. My support request looked like this:
[code]
Yeah, you might be right - I asked for a low average requests per sec. So they have provided a low burst capacity but 10k max. I'll reach out to AWS support and try to get it fixed.

Tha

[2020-08-13 22:07] drunksaint commented on #49
Hi @sadjad

I'm glad XD. I had started adding code to measure the backend creation time XD.

Wow, our execution profiles look quite different. The charts are super neat. My support request looked like this:
[code]
Yeah, you might be right - I asked for a low average requests per sec. So they have provided a low burst capacity but 10k max. I'll reach out to AWS support and try to get it fixed.

Tha

[2020-08-13 22:16] drunksaint commented on #49
@sadjad did you see any 404/503/ChildProcess errors when you ran your simulation?

[2020-08-14 10:28] sadjad commented on #49
Not really. I got plenty of "rate limited" errors, but those are okay. I think I saw a few ChildProcess errors, but no 404s or 503s.

[2020-08-25 00:59] drunksaint commented on #49
Thanks @sadjad for the details of your execution! This helps moving the conversation forward with the AWS person I'm in touch with.

I'm seeing quite different lambda start profiles in us-west-2 and us-east-1 even from a c5n instance.
us-west-2:
![run1](https://user-images.githubusercontent.com/1833544/91110128-e6100780-e64a-11ea-94b1-2f217d5fe277.png)
![worker start time](https://user-images.gith

[2020-08-25 18:32] drunksaint commented on #49
I have a theory - s3 has an [upper limit](https://docs.aws.amazon.com/AmazonS3/latest/dev/optimizing-performance.html) of how many simultaneous downloads can happen from a single key. Since I'm running from an ec2 instance in the same region, the requests are being faster than s3 can keep up with resulting in the high number of 503s. And gg retries after 10s. I'm not sure if gg retries failures wi

[2020-09-11 16:29] drunksaint commented on #49
Hey @sadjad! I ran the test without gg and am not seeing the bump up to >10s in the start times. So looks like there might be something in gg that's causing that. There is one difference in the test though - I'm not using files for the small inputs and the outputs - I'm sending these directly through the lambda payload. But this shouldn't affect the start time profile.
![image](https://user-images

[2020-09-14 17:30] sadjad commented on #49
Hi @drunksaint,

Lunch on me for the delayed response!

This definitely has something to do with [Lambda's burst concurrency quotas](https://docs.aws.amazon.com/lambda/latest/dg/invocation-scaling.html).

Okay, it seems that I had *something* wrong. I didn't pay enough attention and I thought the 503 errors are coming from Lambda, telling us to slow down launching workers... But they're coming fro

[2020-09-14 18:29] drunksaint commented on #49
Hi @sadjad

I thought I lost you for some time :)

I've been speaking to someone in AWS. They haven't found the issue yet at their end. I pointed him to gg and he looked intrigued and I believe he is running some tests using gg.

Yeah, I guess I should've been clearer. They are definitely from s3

Ok, then it might be possible that the lambdas get throttled when they see too many 503s from s3. But

[2020-09-14 19:22] sadjad commented on #49
Yes! Give me a couple days and I'll have that on master :)

[2020-09-14 19:33] drunksaint commented on #49
oh awesome! thanks! :)

[2020-10-19 23:04] MitchTalmadge commented on #18
Looks like it was added here:
https://github.com/StanfordSNR/gg/blob/master/COPYING

[2020-11-07 02:35] rongou opened #51 "Support CUDA"
Not sure how much effort it would take to support compiling CUDA code. Writing a new model for `nvcc` and friends?

[2020-11-12 08:42] 742362144 opened #52 "python sdk example fetch-deps.sh cannot work"
the download url show error that Access Denied.
https://s3-us-west-2.amazonaws.com/gg-generic/vid_dec_small.zip

can i download from other website? I wanna draw the thunk computation graphs.
thanks very much. :P

[2020-11-12 19:07] chadbrewbaker commented on #51
Could you point to a git repo of a sample nvcc project?

[2020-11-12 19:12] chadbrewbaker commented on #30
Would it help if the examples had an AWS lambda to submit to your build queue?

[2020-11-12 19:14] chadbrewbaker commented on #24
One line of AWS CLI. Which should be the source of truth?

[2020-11-12 19:36] rongou commented on #51
The one I'm most interested in speeding up is https://github.com/rapidsai/cudf, but it's a fairly complex project. The cpp/cuda code is in the `cpp` directory.

Another example is https://github.com/NVIDIA/thrust.

[2020-11-12 22:10] chadbrewbaker commented on #51
https://github.com/rapidsai/cudf/tree/branch-0.17/cpp  Just a cmake build.
[code]

[2020-11-12 22:48] rongou commented on #51
I tried, it doesn't work though.

[2020-11-14 17:39] chadbrewbaker commented on #51
Could you give the errors here or link to a gist? I'll take a look. I'm porting gg now to AWSLinux2.

[2020-11-16 19:19] chadbrewbaker opened #53 "Build broken on RPM distros"
The build is broken on RPM distros (awslinux, Fedora, Centos, Redhat,...). Their packages for the crypto C++ library are under a different name. Awslinux also doesn't have protobuff 3 support yet.

Interest in a PR to pin to pin dependencies as git submodules like https://github.com/protocolbuffers/protobuf/blob/c981d39d1e3d033c4f00dd48d16e8bdce55a3861/cmake/tests.cmake#L14 ?

[2020-11-18 19:43] rongou commented on #51
[code]

[2021-03-04 00:45] wknapik opened #55 "Building Chromium"
Hi @sadjad. Could you share the code used to build Chromium? The paper mentions a custom setup with an ec2 instance. I'd like to give it a try, so anything you can share would be appreciated.

[2021-03-04 00:47] sadjad commented on #55
Hi @wknapik -- take a look at `chrome` directory in `gg-results` repo. It contains the scripts for building Chromium: https://github.com/StanfordSNR/gg-results/tree/master/chrome

[2021-03-04 01:15] wknapik commented on #55
Wow, that was fast ;] Thanks!

I'll give it a try tomorrow. Feel free to close this issue, but I'll probably have another question, or two...

[2021-03-04 02:16] sadjad commented on #55
Sure thing!

[2021-03-04 02:16] #55 closed

[2021-03-08 16:02] wknapik opened #56 "Issues building mosh"
Hi,

I'm following the README and using docker-compose to set up gg and build `mosh` to test. I've faced two issues so far. At the end of this post is also the cloudformation template used to provision the S3 bucket and role. Any hints would be appreciated.

---

Issue number one (`invocation failed`; this is the one I care about most, it happened after issue number two below and some files had to

[2021-03-10 15:16] wknapik commented on #56
@sadjad I could use hint. `gg` doesn't appear to have a verbose mode and `invocation failed` doesn't really explain the problem.

One issue I did sort out was that this doesn't work when I'm on a vpn (with routes to 0.0.0.0/1 and 128.0.0.0/1 present).

Manually executing the lambda with the output of `gg describe` for a thunk hash as input, produces:
[code]

Adding the missing key to the inputs
[c

[2021-03-25 15:48] chadbrewbaker opened #62 "Use OpenSSL for crypto"
Is there an engineering reason why OpenSSL was not used?  The biggest portability pain right now for gg is the crypto libraries.

I'm noodling on a PR to use OpenSSL and zstd for better portability and to reduce the IO of thunks over the network.

[2021-03-30 18:29] keithw commented on #62
I think the only crypto in the project is for computing the SHA-256; if you're able to submit an elegant wrapper around OpenSSL that computes the SHA-256 of a C++ string and switches the dependency, I expect it would be favorably received! (As you probably are also aware, OpenSSL does not have the greatest track record as far as security goes, and the APIs are pretty byzantine, but I agree it is m

[2021-04-06 18:42] sean25xiao opened #63 "Issues when run example of Fibonacci"
Hi,

I have an issue when running Fibonacci in the example. It gives the following exception info in the terminal.

I have attached my env below and I have tried the mosh example and it does work.

Thank you!

Yibang

[code]

[code]

[code]

[2022-11-05 17:14] fuzzERot opened #66 "Error "gcc: unknown gcc flag: -mavx512vl" while building llvm"
I tried to build LLVM with script run.sh inside gg/examples/llvm folder and got an error:
[code]
After that i added flag to cmake command inside run.sh:
`gg infer cmake -DCMAKE_BUILD_TYPE=RelWithDebInfo ../llvm-project/llvm`

and got error:
`gcc: unknown gcc flag: -mavx512vl`
Does anyone know what this problem is?

gcc version 7.5

[2022-11-06 23:33] pzoxiuv commented on #63
Was this ever resolved?  I'm getting the same error.